@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var searchURL = "@Url.Action("SearchUser")";
    var followUserURL = "@Url.Action("FollowUser")";
    var showUserInfoURL = "@Url.Action("ShowUserInfo")";
    var unFollowUserURL = "@Url.Action("UnFollowUser")";
    var showUserFolderURL = "@Url.Action("ShowUserFolder")";
    var showUserFollowURL = "@Url.Action("../Follower/ShowUserFollow")";
    var showUserBeFollwedUR = "@Url.Action("../Follower/ShowUserBeFollwed")";
    
</script>
<script src="~/DomainJS/interestrecommend.js"></script>


<div class="am-g">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">兴趣推荐</strong> / <small>Interest Recommend</small></div>
    </div>


    <div class="am-u-sm-12 am-u-md-8">
        <div class="am-form-group">

        </div>
    </div>

    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" placeholder="输入用户名/邮箱进行搜索" id="searchname">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button" id="btnSearch"><i class="am-icon-search"></i> 搜索</button>
            </span>
        </div>
    </div>
</div>


<div class="am-g" id="content">
    <div class="am-u-sm-12">
    </div>
</div>

