@{
    ViewBag.Title = "ModifyPasswordIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookmarkUI.Models.UIUserInfo

<script type="text/javascript">
    var savepasswprdURL = "@Url.Action("SavePassword")";
</script>
<script src="~/DomainJS/modifypassword.js"></script>

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改密码</strong> / <small>Modify Password</small></div>
    </div>
    <hr />
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-md-12">
                            <span>头像</span>
                        </div>
                        <div class="am-u-md-12">
                            @if (Model != null && !string.IsNullOrEmpty(Model.UserImagURL))
                            {
                                <img class="am-img-circle am-img-thumbnail" src='@Url.Content(@Model.UserImagURL)' alt="" />
                            }
                            else
                            {
                                <img class="am-img-circle am-img-thumbnail" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80" alt="">
                            }
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <div class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="login-name" class="am-u-sm-3 am-form-label">用 户 名</label>
                    <label class="am-u-sm-9 am-form-label am-text-left">@Model.LoginName</label>
                </div>
                <div class="am-form-group">
                    <label for="user-email" class="am-u-sm-3 am-form-label">邮 箱 </label>
                    <label class="am-u-sm-9 am-form-label am-text-left">@Model.UserEmail</label>
                </div>

                <div class="am-form-group">
                    <label for="user-QQ" class="am-u-sm-3 am-form-label">旧密码</label>
                    <div class="am-u-sm-9">
                        <input type="password" id="oldpassword" placeholder="输入旧密码">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-QQ" class="am-u-sm-3 am-form-label">新密码</label>
                    <div class="am-u-sm-9">
                        <input type="password" id="newpassword" placeholder="输入新密码">
                    </div>
                </div>


                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" class="am-btn am-btn-primary" id="btnSavePassword">保存修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

