@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookmarkUI.Models.UIWebFolderInfo
<script type="text/javascript">
    var indexURL = "@Url.Action("Index")";
    var saveBookmarkURL = "@Url.Action("AddBookmark")";
    var convertToUIWebFolderInfoURL = "@Url.Action("ConvertToUIWebFolderInfo")"; 
    var convertToUIBookmarkInfoURL = "@Url.Action("ConvertToUIBookmarkInfo")"; 
    var deleteInfoURL = "@Url.Action("DeleteBookmarkOrWebFolder")"; 
    var showFolderTableURL = "@Url.Action("ShowFolderTable")"; 
    var showAddFolderOrBookmarkView = "@Url.Action("ShowAddFolderOrBookmarkView")"; 

</script>
<script src="~/Scripts/layer/layer.js"></script>
<script src="~/DomainJS/webbookmarktable.js"></script>
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的全部书签</strong> / <small>My Webfolder</small> <span id="loadfolder"></span></div>
    </div>


    <div id="am-footer-modal"
         class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-modal-footer-hd">
                <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="addFolderOrBookmark">
                <div class="content am-center">
                    <h5 style="font-size:xx-large">新增书签/书签夹</h5>
                    <div id="editID" hidden></div>

                    <div id="divUIContent">

                    </div>

                    <div class="am-text-center" style="margin: 20px 20px;">

                        <button class="am-btn am-btn-secondary am-radius" id="btnSaveBookmark">保存</button>
                        <button class="am-btn am-btn-secondary am-radius" id="btnBookmarkCancel" onclick="javascript:void(0)" data-am-modal-close>取消</button>
                    </div>

                    <div class="am-form-group">

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                   
                     <footer data-am-widget="footer" data-am-footer="{  }">
                        <div class="am-footer-switch">
                            <span class="am-footer-ysp" data-rel="mobile"
                                  data-am-modal="{target: '#am-switch-mode'}">
                            <button type="button" class="am-btn am-btn-default" id="btnAddFolderOrBookmark"><span class="am-icon-plus"></span> 新增书签/书签夹</button>
                            </span>
                        </div>

                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main ">
                <thead>
                    <tr>
                        <th class="table-id">类型</th>
                        <th class="table-main">名称</th>
                        <th class="table-date am-hide-sm-only">修改日期</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody id="folderBody">
                </tbody>
            </table>
           
        </div>
    </div>
</div>
