@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookmarkUI.Models.UIWebFolderInfo
<script type="text/javascript">
    var indexURL = "@Url.Action("Index")";
    var saveBookmarkURL = "@Url.Action("AddBookmark")";
    var convertToUIWebFolderInfoURL = "@Url.Action("ConvertToUIWebFolderInfo")"; 
    var convertToUIBookmarkInfoURL = "@Url.Action("ConvertToUIBookmarkInfo")"; 
    var deleteInfoURL = "@Url.Action("DeleteBookmarkOrWebFolder")"; 
    var showFolderTableURL = "@Url.Action("ShowFolderTable")"; 
    var showAddFolderOrBookmarkView = "@Url.Action("ShowAddFolderOrBookmarkView")"; 

    var showUserAllFolderURL = "@Url.Action("ShowUserAllFolder")"; 

</script>
<script src="~/Scripts/layer/layer.js"></script>
<script src="~/DomainJS/webbookmarktable.js"></script>
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的全部书签</strong> / <small>My Webfolder</small> <span id="loadfolder"></span></div>
    </div>


    <div id="AddfolderOrbookmarkModal"
         class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-modal-footer-hd">
                <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="addFolderOrBookmark">
                <div class="content am-center">
                    <h5 style="font-size:xx-large" id="h5title">新增书签/书签夹</h5>
                    <div id="editID" hidden></div>

                    <div id="divUIContent">

                    </div>

                    <div class="am-text-center" style="margin: 20px 20px;">

                        <button class="am-btn am-btn-secondary am-radius" id="btnSaveBookmark">保存</button>
                        <button class="am-btn am-btn-secondary am-radius" id="btnBookmarkCancel" onclick="javascript:void(0)" data-am-modal-close>取消</button>
                    </div>

                    <div class="am-form-group">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-QuickAddDataToWebBookmarkContent">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <p>快速添加书签工具</p>
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="">
                    此工具可将当前网页URL快速添加到WebBookmark中指定的书签夹，完成自动保存。 请先选择书签夹（如不选则默认），然后拖动" Webbookmark书签"至浏览器收藏夹。
                </div>
               
                <div id="divAllFolder" class="">
                </div>

               
            </div>
        </div>
    </div>
  



    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="">
                <div class="am-btn-group am-btn-group-xs">
                        <div class="am-footer-switch">
                            <span class="am-footer-ysp" data-rel="mobile"
                                  data-am-modal="{target: '#addfolderOrbookmark'}">
                                <button type="button" class="am-btn am-btn-default" id="btnAddFolderOrBookmark"><span class="am-icon-plus"></span> 新增书签/书签夹</button>
                            </span>

                            <button type="button"
                                    class="am-btn am-btn-default" id="modifygroup"
                                    data-am-modal="{target: '#modal-QuickAddDataToWebBookmarkContent', closeViaDimmer: 0, width: 400, height: 225}">
                                <span class="am-icon-pencil-square-o"></span> 生成快速书签工具
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main ">
                <thead>
                    <tr>
                        <th class="table-id">类型</th>
                        <th class="table-main">名称</th>
                        <th class="table-date am-hide-sm-only">修改日期</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody id="folderBody">
                </tbody>
            </table>
           
        </div>
    </div>
</div>
