@{
    ViewBag.Title = "ShowFolderInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebBookmarkUI.Models.WebBookmarkTableModel
<script type="text/javascript">
    var strAllFolder = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    var showFolderURL = "@Url.Action("ShowFolderInfo")";
</script>
<script src="~/DomainJS/webbookmarktable.js"></script>

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的全部书签</strong> / <small>My Webfolder</small></div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main ">
                <thead>
                    <tr>
                        <th class="table-id">ID</th>
                        <th class="table-main">名称</th>
                        <th class="table-date am-hide-sm-only">修改日期</th>
                        <th class="table-date am-hide-sm-only">类型</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.FirstWebFolderInfo != null)
                    {
                        int index = 1;
                        foreach (var folder in Model.FirstWebFolderInfo.ChildrenFolderList)
                        {
                            <tr>
                                <td>@index</td>
                                <td><div name="folder"><div name="divFolderID" style="display:none"> @folder.UserWebFolderID</div> @folder.WebFolderName</div></td>
                                <td>@folder.CreateTime</td>
                                <td><span class="am-icon-folder"></span></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 添加</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }


                        foreach (var bookmark in Model.FirstWebFolderInfo.UIBookmarkInfoList)
                        {
                            <tr>
                                <td>@index <div style="display:none" name="BookmarkInfoID">@bookmark.BookmarkInfoID</div></td>
                                <td><a href='@bookmark.Href' target='_blank'>@bookmark.BookmarkName  </a></td>
                                <td>@bookmark.CreateTime</td>
                                <td><samp class="am-icon-bookmark"></samp></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 添加</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }


                    }
                    else
                    {

                    }

                </tbody>
            </table>

        </div>
    </div>
</div>