@model List<WebBookmarkUI.Models.UIBookmarkInfo>
<div class="admin-content">
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main ">
                <thead>
                    <tr>
                        <th class="table-main">名称</th>
                        <th class="tab-content">域名</th>
                        <th class="tab-content">拥有者</th>
                        <th class="table-date am-hide-sm-only">创建日期</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var bookmark in Model)
                        {
                            <tr>
                                <td><a href='@Url.Content("~/ShowBookmarkInfo?bookmarkID="+@bookmark.BookmarkInfoID)' target='_blank'>@bookmark.BookmarkName  </a></td>
                                <td>@bookmark.Host</td>
                                <td><a href="@Url.Content("~/UserInfo/ShowUserDetail?uid=" + bookmark.UserInfo.UserInfoID)">@bookmark.UserInfo.UserName</a></td>
                                <td>@bookmark.CreateTime</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>