@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookmarkUI.Models.UIBookmarkInfo 

<script>
    var showHTML = "@Url.Action("ShowBookmarkHTML")";
    var showBookmarkComment = "@Url.Action("ShowBookmarkComment")";
    var bookmarkID = '@Model.BookmarkInfoID';
    var url = '@Model.Href';
    var saveComment ="@Url.Action("SaveBookmarkComment")";
</script>
<script src="~/DomainJS/bookmarkdetail.js"></script>


<div class="aw-mod aw-user-detail-box">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><a href='@Url.Content(Model.Href)' target="_blank">@Model.BookmarkName</a></strong> / <small>
            <a href='@Url.Content("~/UserInfo/ShowUserDetail?uid=" + Model.UserInfo.UserInfoID)'>@Model.UserInfo.UserName</a></small></div>
    </div>
    <div class="am-fl am-cf" style="margin-left:1%;">
       创建日期：@Model.CreateTime &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
   <div class="mod-footer">
            <div class="am-tabs" data-am-tabs="">
                <ul class="am-tabs-nav am-nav am-nav-tabs aw-nav-tabs">
                    <li class=""><a href="#" id="bookmarkHTML" data-id='@Model.BookmarkInfoID' data-url='@Model.Href'>HTML <span id="loadHTML"></span></a></li>
                    <li class="am-active"><a href="#" id="commentInfo" data-id='@Model.BookmarkInfoID'>相关评论 <span id="loadcomment"></span></a></li>
                </ul>

                <div class="am-tabs-bd aw-user-center-tab" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <div class="am-active am-in" id="overview">

                    </div>
                </div>
            </div>
        </div>
    </div>
